* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: rgb(9,121,10);
    background: linear-gradient(90deg, rgba(9,121,10,1) 17%, rgba(0,36,5,1) 100%);
}

a {
    outline: none;
    text-decoration: none;
}
